.Link {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    background-color: rgba(86, 24, 148, 0.779);
    border-radius: 15px;
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 2px;
    margin-left: 100px;
    margin-right: 100px;

}

.Link:hover {
    text-decoration:beige;
    color: rgba(197, 197, 197, 0.746);
}